main {
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
  }
  table {
    table-layout: auto;
    align-items: center;
    font-family: Ubuntu, sans-serif;
    width: 400px;
    border-collapse: collapse;
    box-shadow: 7px 7px 7px #628ca6;
  } 
  thead tr th {   
    color: #fbfcfc;   
    background-color: #010004; 
    font-size: 1.6em; 
  }
  td, th {
    border: 1px solid darkgrey;
    text-align: center;
    padding: 8px;
    background-color: #;
  }
  tr:nth-child(odd) {
    background-color: #e7ffed;
    padding: 5px;
  }
  th {
    background-color: #fbfcfc;
  }
  .wh {
    background-color: #010004;;
  }
  tfoot tr td {
    font-size: 0.9em;
    background-color: none;
  }