body {
font-size: 20px;
background-color: rgb(73, 186, 238);
}
h1, h2 {
    font-family: 'Merienda', cursive, sans-serif;
}
h3, p {
    font-family: 'Overlock', cursive, sans-serif; 
}
header {
    text-align: center;
}
main img {
    max-width: 300px;
    height: auto;
}
.columns {
    display: block;
    background-color: rgb(130, 222, 73);
    text-align: center;
    align-items: center;
    margin:10px 10px 10px 10px ;
}
main {
    display: grid;
    grid-template-columns: 1fr;
  }
#modified {
    color: #24fd0c;
  }
footer {
    font-size: 3.5vh;
    text-align: center;
    font-family: 'Overlock', cursive, sans-serif;
    padding: 1.5em;
}