/* Small Phone View */

body {
    margin: 0 auto;
    background-color:#afd2da;
}

header {
    display: grid;
    grid-template-columns: 30% 40% 10% 10% 10%;
    grid-template-rows: 3em 3em 4em 1fr;
    align-items: center;
    background-color: #a2e6f6;
}

.header-logo {
    grid-row: 1/3;
}
.header-logo img {
    padding-top: 3em ;
    width: 120px;
    margin: 8px 8px;
    border-radius: 3em;
}

h1, h2, h3 {
    color: #713434;
    font-weight: bolder;
}
header h1 {
    padding-top: 15px;
    margin-bottom: -5px;
    grid-column: 2/3;
    grid-row: 1/2;
    color: #bc6363;
}
header h2  {
    margin-top: -40px;
    grid-column: 2/3;
    grid-row: 3/4;
    color: #bc6363;
}
.fb-icon {
    grid-row: 1/3;
}
.icon-img {
    width: 2em;
    margin: 0 5px;
}
.insta-icon {
    grid-row: 1/3;
}
#menuBtn {
    grid-row: 1/3;
    grid-column: 5/6;
    background-color: rgb(194, 255, 192);
    border-width: 2px;
    border-radius: 5px;
    font-size: 20px;
    margin: 0 auto;
    transition: 0.5s;
}

#menuBtn:hover {
    text-shadow: 0 0 5px #56d1e1;
    cursor: pointer;
}
.date {
    grid-column: 1/6;
    grid-row: 5/6;
    margin: 0.5rem;
    border: 1px solid #2a0505;
    padding: 0.75rem;
    text-align: center;
    background-color: #56d1e1;
    border-radius: 9em;
    color: #713434;
    font-size: 21px;
    font-weight: bold;
}
nav ul{
    display: none;
    margin: 0;
    padding: 0;
}
#menu {
    list-style: none;
}
nav {
    grid-row: 4/5;
    grid-column: 1/6;
    text-align: center;
}
nav ul.responsive {
    display: block;
    padding-top: 0em;
    margin: 0 0;
}
#menu li {
    font-size: 21px;
    padding: 10px;
    transition: 0.5s;
    box-shadow: 0 0 1px gray;
}
#menu li:hover {
    background-color: rgb(76, 137, 192);
}
#menu li a{
    text-decoration: none;
    color: #713434;
    font-weight: 700;
    transition: 0.5s;
}
#menu li a:hover {
    color: white;
}
/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/


/* main */
.home-main {
    margin: 0 1em;
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-gap: 1em;
}
.home-div {
    margin-bottom: 1em;
}
.home-div, .spotlight {
    margin: 0 auto;
    height: auto;
    background-color: rgb(255, 250, 250);
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    width: 100%;
    text-align: center;
    align-items: center;
}
#banner {
    width: 100%;
    height: auto;
    margin-top: 0;
    color: rgb(255, 250, 250);
    background-color: rgb(229, 77, 102);
}
#hero {
    height: 100%;
    position: relative;
}
.hero-img {
    width: 100%;
}
.hero-button {
    position: absolute;
    top: 75%;
    right: 50px;
    height: 25px;
}
.join-us-button, .hero-button {
    color: rgb(255, 250, 250);
    background-color: rgb(229, 77, 102);
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    text-align: center;
    width: 38%;
    font-weight: bold;
    text-shadow: 0 0 3px black;
}
.join-us-button {
    margin-top: 1em;
}
.hero-button:hover, .join-us-button:hover {
    background-color: white;
    text-shadow: none;
    box-shadow: 0 0 5px gray;
    color: black;
    cursor: pointer;
}
.icon {
    width: 30%;
}
#weather-icon {
    width: 40%;
    object-fit: contain;
}
#weather-display {
    padding-left: 20%;
    background-color: transparent;
    border-style: none;
    display: flex;
}
#weather-display h3 {
    margin-left: .5em;
    font-size: 22px;
}
#description {
    margin: 5px auto;
    font-size: larger;
}
#weather p {
    margin: 10px;
}
#line {
    margin-left: 5%;
    height: 1px;
    width: 90%;
    background-color: gray;
    border-style: none;
}
#spotlight-box {
    height: auto;
    width: 100%;
}
.spotlight {
    margin: 1em auto;
    padding: 10px 10px;
    width: 90%;
    display: grid;
    grid-template-rows: repeat(6, auto);
}
.spotlight #line {
    margin: 3% 0;
    width: 100%;
}
.spotlight h2 {
    margin: 5px auto;
}
.spotlight p {
    margin: 3px 0 3px 1em;
    font-size: 16px;
    text-align: left;
}
.spotlight img {
    margin: 0 auto;
    width: 150px;
    height: auto;
    object-fit: contain;
}
#spot3, #join {
    display: none;
}
#news p, #event p, #join p {
    padding: 0 1em;
}

/* discover main*/
#discover-main {
    background-color: #afd2da;
}
#taiwan-icon {
    height: 25px;
}
.discover-grid-box {
    display: block;
    padding-bottom: 2px;
    margin: 5% 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: #56d1e1;
}
.discover-grid-box picture img {
    width: 100%;
}
.right-p, .left-p {
    margin: 0 10% 10% 10%;
}
.source-link {
    text-align: center;
}
.p-larger {
    font-size: 20px;
}
.demographics-margin {
    margin-left: 5%;
    margin-right: 5%;
}

/* join main */
.join-main {
    display: block;
    text-align: center;
    background-color: #afd2da;
    
}
.form-box {
    margin: 2em auto;
    width: 400px;
    border-style: solid;
    border-color: rgb(61, 60, 60);
    border-width: 2px;
    border-radius: 5px;
    background-color: rgb(255, 250, 250);
    text-align: left;
    display: flex;
    flex-direction: column;
}
.form-title {
    font-size: 20px;
    font-weight: bold;
    color: #713434;
}
.form label, .form p {
    font-weight: 200;
}
.form input, .form textarea {
    padding: 5px;
    border-radius: 5px;
}
#position:invalid {
    background-color: rgb(238, 121, 121);
}
.form input:required {
    border-color: 
}
.radio-choices {
    margin: 5px 0;
}
.join-submit {
    width: 30%;
    font-size: 16px;
    background-color: rgb(255, 250, 250);
    border-radius: 5px;
}
.join-submit:hover {
    font-size: larger;
    cursor: pointer;
    box-shadow: 0 0 5px gray;
}
.membership-benefits {
    margin: 2em auto;
    border: solid rgb(209, 142, 153);
    box-shadow: 0 0 15px gray;
    border-radius: 5px;
    border-width: 1px;
    border-collapse: collapse;
    background-color: #938686;
}
.membership-benefits caption {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    background-color: #713434;
}
.membership-benefits th, .membership-benefits td {
    padding: 15px 15px;
    border: solid rgb(209, 142, 153);
}
.membership-benefits th {
    background-color: #d18e99;
}
.membership-benefits td {
    text-align: center;
}
tr:nth-child(2),  tr:nth-child(4), tr:nth-child(6){
    background-color: #ffeef1;
}

/* thankyou main */
#letter-container {
    height: 200px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    background-color: rgb(255, 250, 250);
    box-shadow: 5px 5px black;
}
#letter-container h1 {
    padding: 0 1em;
}

/* directory main */
.directory-main {
    background-color: #afd2da;
}
.icon-display {
    display: grid;
    grid-template-columns: 78% 9% 9%;
    grid-column-gap: 1%;
}
.icon-display h1 {
    margin-left: 1em;
}
.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-box button:hover {
    width: 50px;
    cursor: pointer;
}
.icon-box button {
    width: 45px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px gray;
}
.icon-box button img {
    display: block;
    width: 90%;
    margin: 1px auto;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.cards section {
    margin: 2em 1em;
    box-shadow: 0 0 20px gray;
    border-radius: 5px;
    height: 93%;
}
.cards section div {
    margin: 10% 10%;
    height: 180px;
    display: flex;
    justify-items: center;
}
.cards section div img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cards section h2 {
    text-align: center;
}
.cards section p, .cards section a {
    margin-left: 10%;
    margin-right: 10%;
}
.lists {
    margin: 0 auto;
}
.lists section:hover {
    box-shadow: 0 0 5px gray;
}
.lists section {
    padding-top: 1rem;
    padding-bottom: 10px;
    margin-bottom: 2px;
    background-color: rgb(255, 238, 241);
}
.lists section:nth-child(even) {
    background-color: white;
}
.lists section h2 {
    margin: 0 1rem 10px 2rem;
}
.lists section p, .lists section a {
    margin: 0 1rem 10px 3rem;
}
.lists section img {
    display: none;
}

/* thankyou main */
#thankyou-main {
    display: flex;
    justify-content: center;
    margin: 2em auto;
    height: 100%;
    background-color: #afd2da;
}

/* contact main */
.contact-main {
    background-color: #afd2da;
}
.contact-main h1{
    margin: 10px auto;
    text-align: center;
    color: #713434;
}
#contact-form-box {
    margin: 2em auto;
    width: 80%;
    box-shadow: 0 0 10px gray;
}
#contact-form-box h2 {
    font-size: 21px;
    padding-left: 1em;
    color: #713434;;
}
#contact-form-box p {
    padding-left: 2em;
}
#contact-form-box form {
    padding: 10px 2em 0 2em;
}
.input-style {
    padding: 5px 5px;
    border-style: none;
    border-bottom-style: solid;
    border-color: black;
    margin-bottom: 10px;
}
#contact-form-box iframe {
    margin-top: 1.5em;
    width: 100%;
    height: 300px;
}
.contact-submit {
    align-items: center;
    width: 30%;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
}
.contact-submit:hover {
    box-shadow: 0 0 5px gray;
    cursor: pointer;

}
#contact-us-box {
    margin: 2em auto;
    width: 80%;
}
#contact-us-box a img{
    margin-top: 4em;
}

/* contact-submission */
#contact-submission-main {
    background-color: #afd2da;
}
#contact-letter-container {
    margin: 1em auto;
    padding-top: 2em;
    height: 200px;
    display: block;
    text-align: center;
}

/* footer*/
footer {
    margin-top: 20px;
    padding-bottom: 10px;
    background-color: pink;
    align-items: center;
    text-align: center;
    background-color: #a2e6f6;
}
footer img {
    width: 120px;
    padding: 10px;
}
.line-box {
    margin: 5px 2px;
    height: 1px;
    background-color: gray;
}