@media only screen and (min-width:65em) {
    body {
        font-size: 1.7em
    }

    .forecast h2 {
        text-align: center
    }

    .forecast {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: dotted;
        margin: 2rem
    }

    main {
        align-items: center;
        padding: 1rem;
        max-width: 100%
    }

    #info {
        text-align: center
    }

    .content,
    p {
        font-family: Catamaran, serif
    }

}