@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
        font-size: 1em;
    }

    .forecast h2 {
        text-align: center;
    }
    
    .tbl td {
        text-align: center;
        margin-bottom: 2em;
        border: ridge;
    }

    #logo {
        margin-left: 7rem;
    }

    .slides0 {
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
    .button {
        margin: 5rem 0 5rem 0;
    }
    #info2 {
        margin: 2vm 8vm 0 8vm;
        padding: 0 5em 2em 5em;
        border: solid
    }
}