body {
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

#content {
    display: flex;
    font-family:Marmelad, sans-serif;
    color: #f3eded;
}
header {
    text-align: center;
    background-color: #266694;
    width: auto;
    border-radius: 0.5em;
}
h1 {
    font-size: 6vh;
    font-weight: bolder;
    margin: auto;
}
h2 {
    font-size: 1.7rem;
    font-weight: bolder;
}
#content img {
    padding: 20px;
    color: #E9E6FF;
    width: 150px;
    border-radius: 30px;
}
footer, footer a {
    background-color: #266694;
    color: #E9E6FF;
    font-size: 3vh;
    padding-bottom: 10px;
    text-align: center;
    width: 600px;
    border-radius: 0.5em;
    }
#modified { 
    color: #b6f710;
}

main {
    padding: 0em 2em;
}
main ul {
    padding: 0em 3em;
}

main ul li {
    font-size: 3ch;
}