body {
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: auto;
}

#content {
font-family:Marmelad, sans-serif;
color: #f3eded;
height: 100%;
}
header {
    text-align: center;
    font-size: 6vh;
    background-color: #266694;
    color: #E9E6FF;
    padding-bottom: 10px;
    width: 600px;
    border-radius: 0.5em;
}

h2 {
    font-size: 1.5rem;
    font-weight: bolder;
}
p img {
    margin-top: 8px;
    margin-bottom: -40px;
    background-color: #4c2694;
    color: #E9E6FF;
    width: 150px;
    border-radius: 30px;
}
footer, footer a {
    background-color: #266694;
    color: #E9E6FF;
    font-size: 3vh;
    padding-bottom: 10px;
    text-align: center;
    width: 600px;
    border-radius: 0.5em;
    }
#modified {
    color: #b6f710;
    }

main {
    padding-left: 1cm;
    
}

main ul li {
    font-size: 3ch;
}